// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

main {
  min-height: calc(100VH - 40px - 60px);
}

nav {
  background-color: #2fa360;
}

.home, .user-name {
  color: #fff !important;
  font-weight: bold !important;
  font-size: 18px;
}